@model ControlMigracion.Models.EntradaSalida

@{
    ViewData["Title"] = "Eliminar Entrada/Salida";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Está seguro de que desea eliminar esta entrada/salida?</h3>
<div>
    <h4>Entrada/Salida</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Viaje.Viajero.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Viaje.Viajero.Nombre) @Html.DisplayFor(model => model.Viaje.Viajero.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pais.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pais.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EntradaSalidaID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>

