@model IEnumerable<ControlMigracion.Models.EntradaSalida>

@{
    ViewData["Title"] = "Entradas y Salidas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nueva Entrada/Salida</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Viaje.Viajero.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Viaje.Viajero.Nombre) @Html.DisplayFor(modelItem => item.Viaje.Viajero.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EntradaSalidaID" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.EntradaSalidaID" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.EntradaSalidaID" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

