@model IEnumerable<ControlMigracion.Models.Viajero>

@{
    ViewData["Title"] = "Viajeros";
}

<h1>Viajeros</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nuevo Viajero</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pasaporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pasaporte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ViajeroID" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ViajeroID" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ViajeroID" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

